# os
.DS_Store

# editor
.idea
.vscode
.nova
.next

# node
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local files
*.local

# Build
build
dist
bin
packages/icons/sprites
packages/icons/src/*
!packages/icons/src/IconBase.tsx
!packages/icons/src/IconSprite.tsx
!packages/icons/src/utils.ts
!packages/icons/src/IconContainer.tsx

*.tgz
.nx

# tests & cache
coverage
/a11y-report
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.eslintcache
*.tsbuildinfo

# examples
examples/*/package-lock.json
